.container {
  width: 1250px;
  padding-bottom: 50px;
  background-color: silver;
  margin: 0px auto;
  display: inline-block;
}
.top-nav {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  height: 150px;
  width: 1210px;
  background-color: green;
}
.side-nav {
  height: 300px;
  width: 200px;
  background-color: blue;
  margin-left: 20px;
  display: inline-block;
}
.main {
  display: inline-block;
  height: 400px;
  width: 980px;
  background-color: red;
  vertical-align: top;
  margin-left: 20px;
  padding-bottom: 80px;
}
.sub-content {
  height: 275px;
  width: 275px;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
  background-color: yellow;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}
#advertisement {
  margin-left: 15px;
  vertical-align: top;
  margin-top: 5px;
  margin-bottom: 10px;
  height: 120px;
  width: 870px;
  background-color: purple;
}
